.pagination
  - if @start > 9
    %a{:href => "/#{compose_querystring(@page-1)}", :rel => "Previous"} &larr; Previous
  
  - if @results["matches"] > @start + @page_size
    %a{:href => "/#{compose_querystring(@page+1)}", :rel => "Next", :class => "right_link"} Next &rarr;