%html
  %head
    %title Hansard Search 
    <style>body {width:550px;margin:50px auto;font-family: arial,sans-serif;} a {text-decoration: none;} .url {color:#0E774A;text-decoration: none;font-size: 0.85em;} .abstract {font-size: 0.85em;} .description {color:#767676;font-size: 0.85em;}.extension {font-size: 0.85em;}.title {color:#2200C1;font-size: 1.15em;text-decoration:underline;}</style>
  %body
    %h1 Hansard Search
    = yield
