@media screen and (max-width: 590px)
  body
    width: 480px
    margin: 50px auto
    font-size: 1em
    
@media screen and (min-width: 600px)
  body
    width: 580px
    margin: 50px auto
    font-size: 1.2em

@media screen and (min-width: 800px)
  body
    width: 780px
    margin: 50px auto
    font-size: 1.3em
  
#search
  input[type=text]
    width: 400px
    font-size: 1.2em
    padding: 4px
    
  input[type=submit]
    font-size: 1.5em
  
.filter
  background-color: #EBEFF9
  padding: 8px
  font-weight: bold
  margin: 4px 0
  
  .remove-filter
    background-color: white
    border: 1pt solid #2200C1
    font-size: 1em
    color: #2200C1
    padding: 0px 2px
    float: right

footer
  display: block
  margin-top: 2em
  
cite
  font-style: normal
 
a
  text-decoration: none
  
.url 
  color: #0E774A
  text-decoration: none
  font-size: 0.85em
  
.abstract,
.info,
.extension
  font-size: 0.85em

.info
  margin-bottom: 0.4em

.time
  color: #767676
  
.description
  color: #767676
  font-size: 0.85em
  
.title
  color: #2200C1
  font-size: 1.05em
  text-decoration: underline
  
.pagination
  font-size: 0.85em
  width: 100%
  position: relative
  
  .right_link
    position: absolute
    right: 0.5em
    
#facets
    
  ul
    margin: 0
    padding: 0
    
    li
      list-style: none
      margin-top: 0.5em
      
    a
      color: gray
      
    li.all
      font-weight: bold
      color: crimson