body
  width: 550px
  margin: 50px auto
  font-family: arial,sans-serif

footer
  text-align: right
 
a
  text-decoration: none
  
.url 
  color: #0E774A
  text-decoration: none
  font-size: 0.85em
  
.abstract,
.info,
.extension
  font-size: 0.85em
  
.description
  color: #767676
  font-size: 0.85em
  
.title
  color: #2200C1
  font-size: 1.05em
  text-decoration: underline
  
.pagination
  width: 100%
  position: relative
  
  .right_link
    position: absolute
    right: 0.5em
    
#facets
  h3
    font-size: 1em
    margin-bottom: 0.25em
    
  ul
    margin-top: 0
    padding-left: 0.7em
    
    li
      font-size: 0.95em
      list-style: none